@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend+Tera:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend+Tera:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend+Tera:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend+Tera:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend+Tera:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend+Tera:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend+Tera:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend+Tera:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend+Tera:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2f2d2d;
  overflow-x: hidden;
}

#page-container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 120px;
}

#call-to-action {
  margin-top: 70px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #FBF8F4;
  border-radius: 5px;
  background-color: #FBF8F4;
  max-width: 500px;
}
#call-to-action .logo-home-container {
  width: 95%;
  margin-bottom: 20px;
}
#call-to-action .text-civiles-container {
  width: 95%;
}
#call-to-action .text-civiles-container .text-home {
  font-family: "Lexend Tera", sans-serif;
  font-size: 16px;
  color: #2f2d2d;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
}
#call-to-action .text-productos-container {
  margin-top: 20px;
  width: 95%;
}
#call-to-action .text-productos-container .text-productos {
  font-family: "Lexend Tera", sans-serif;
  font-size: 16px;
  color: #2f2d2d;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
}
#call-to-action .home-button-container {
  margin-top: 39px;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#call-to-action .home-button-container .button-home {
  margin-bottom: 30px;
  width: 300px;
  height: 63px;
  background-color: #2f2d2d;
  border: none;
  border-radius: 5px;
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.9));
}
#call-to-action .home-button-container .button-home a {
  text-decoration: none;
  font-family: "Lexend Tera", sans-serif;
  color: #FBF8F4;
  font-size: 24px;
}
#call-to-action .slider-home-container {
  border-radius: 5px;
  width: 95%;
  display: grid;
  align-content: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#call-to-action .slider-home-container .slider-home-img-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  transition: all 0.2s ease-in;
}
#call-to-action .slider-home-container .slider-home-img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#call-to-action-desktop {
  width: 90vw;
  max-width: 1100px;
  height: 400px;
  border: 2px solid #FBF8F4;
  background-color: #FBF8F4;
  border-radius: 10px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#call-to-action-desktop .call-to-action-desktop-logo-container {
  width: 60%;
  height: 100%;
}
#call-to-action-desktop .call-to-action-desktop-logo-container .desktop-logo-container {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
}
#call-to-action-desktop .call-to-action-desktop-logo-container .desktop-logo-container svg {
  width: 90%;
}
#call-to-action-desktop .call-to-action-desktop-logo-container .desktop-text-container {
  width: 100%;
  height: 50%;
}
#call-to-action-desktop .call-to-action-desktop-logo-container .desktop-text-container .text-civiles-container-desktop {
  width: 100%;
  height: 50%;
}
#call-to-action-desktop .call-to-action-desktop-logo-container .desktop-text-container .text-civiles-container-desktop .text-home-desktop {
  font-family: "Lexend Tera", sans-serif;
  color: #2f2d2d;
  font-size: 30px;
}
#call-to-action-desktop .call-to-action-desktop-logo-container .desktop-text-container .text-productos-container-desktop {
  width: 100%;
  height: 50%;
}
#call-to-action-desktop .call-to-action-desktop-logo-container .desktop-text-container .text-productos-container-desktop .text-productos-desktop {
  font-family: "Lexend Tera", sans-serif;
  color: #2f2d2d;
  font-size: 24px;
}
#call-to-action-desktop .call-to-action-desktop-slider-container {
  width: 40%;
  height: 100%;
  border-radius: 0 10px 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#call-to-action-desktop .call-to-action-desktop-slider-container .desktop-slider-container {
  height: 90%;
  width: 90%;
  color: #2f2d2d;
  border-radius: 10px;
  border: solid;
}

#slider-obras {
  margin-top: 20px;
  height: 320px;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #FBF8F4;
  border-radius: 5px;
  max-width: 500px;
}
#slider-obras .slider-obras-container {
  width: 100%;
  height: 100%;
  position: relative;
}
#slider-obras .slider-obras-container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
#slider-obras .slider-obras-container .slider-obras-button-container {
  height: 100px;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
}
#slider-obras .slider-obras-container .slider-obras-button-container .slider-obras-button {
  height: 50px;
  width: 300px;
  background-color: #FBF8F4;
  border: none;
  border-radius: 5px;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.9));
}
#slider-obras .slider-obras-container .slider-obras-button-container .slider-obras-button a {
  text-decoration: none;
  font-family: "Lexend Tera", sans-serif;
  font-weight: bold;
  color: #2f2d2d;
  font-size: 20px;
}

#slider-obras-desktop {
  width: 90vw;
  max-width: 1100px;
  height: 300px;
  border: 2px solid #FBF8F4;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  display: none;
}
#slider-obras-desktop img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
#slider-obras-desktop .boton-obras-desktop {
  position: absolute;
  right: 40px;
  bottom: 20px;
  height: 75px;
  width: 300px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.9));
}
#slider-obras-desktop .boton-obras-desktop a {
  text-decoration: none;
  color: #2f2d2d;
  font-family: "Lexend Tera", sans-serif;
  font-size: 24px;
  font-weight: 800;
}
#slider-obras-desktop .boton-obras-desktop:hover {
  background-color: #2f2d2d;
}
#slider-obras-desktop .boton-obras-desktop:hover a {
  color: #FBF8F4;
}

#descripcion-empresa {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 589px;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #FBF8F4;
  border-radius: 5px;
  max-width: 500px;
}
#descripcion-empresa .descripcion-empresa-container {
  width: 95%;
  height: 100%;
}
#descripcion-empresa .descripcion-empresa-container .descripcion-empresa-text {
  color: #FBF8F4;
  font-family: "Lexend Tera", sans-serif;
  font-size: 20px;
}
#descripcion-empresa .descripcion-empresa-container .descripcion-empresa-mkt {
  margin-top: 20px;
  color: #FBF8F4;
  font-family: "Lexend Tera", sans-serif;
  font-size: 25px;
  font-weight: bold;
}
#descripcion-empresa .descripcion-empresa-container .descripcion-empresa-button-container {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#descripcion-empresa .descripcion-empresa-container .descripcion-empresa-button-container .descripcion-empresa-button {
  height: 50px;
  width: 300px;
  background-color: #FBF8F4;
  border: none;
  border-radius: 5px;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.9));
}
#descripcion-empresa .descripcion-empresa-container .descripcion-empresa-button-container .descripcion-empresa-button a {
  text-decoration: none;
  font-family: "Lexend Tera", sans-serif;
  font-weight: bold;
  color: #2f2d2d;
  font-size: 20px;
}

#descripcion-empresa-desktop {
  width: 90vw;
  max-width: 1100px;
  border: 2px solid #FBF8F4;
  border-radius: 10px;
  margin-top: 20px;
  position: relative;
  display: none;
}
#descripcion-empresa-desktop button {
  position: absolute;
  right: 40px;
  bottom: 20px;
  height: 75px;
  width: 300px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.9));
}
#descripcion-empresa-desktop button a {
  text-decoration: none;
  color: #2f2d2d;
  font-family: "Lexend Tera", sans-serif;
  font-size: 24px;
  font-weight: 800;
}
#descripcion-empresa-desktop .descripcion-empresa-text-container-desktop {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#descripcion-empresa-desktop .descripcion-empresa-text-container-desktop p {
  color: #FBF8F4;
  font-family: "Lexend Tera", sans-serif;
  font-size: 20px;
}
#descripcion-empresa-desktop .descripcion-empresa-text-button-container-desktop {
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#descripcion-empresa-desktop .descripcion-empresa-text-button-container-desktop {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#descripcion-empresa-desktop .descripcion-empresa-text-button-container-desktop .descripcion-empresa-text {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#descripcion-empresa-desktop .descripcion-empresa-text-button-container-desktop .descripcion-empresa-text h1 {
  color: #FBF8F4;
  font-family: "Lexend Tera", sans-serif;
  font-size: 30px;
}

#invitacion-catalogo {
  margin-top: 20px;
  height: 320px;
  width: 90vw;
  border: 2px solid #FBF8F4;
  border-radius: 5px;
  max-width: 500px;
}
#invitacion-catalogo .invitacion-catalogo-container {
  width: 100%;
  height: 100%;
  position: relative;
}
#invitacion-catalogo .invitacion-catalogo-container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
#invitacion-catalogo .invitacion-catalogo-container .invitacion-catalogo-button-container {
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#invitacion-catalogo .invitacion-catalogo-container .invitacion-catalogo-button-container .invitacion-catalogo-button {
  height: 50px;
  width: 300px;
  background-color: #FBF8F4;
  border: none;
  border-radius: 5px;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.9));
}
#invitacion-catalogo .invitacion-catalogo-container .invitacion-catalogo-button-container .invitacion-catalogo-button a {
  text-decoration: none;
  font-family: "Lexend Tera", sans-serif;
  font-weight: bold;
  color: #2f2d2d;
  font-size: 16px;
}

#invitacion-catalogo-desktop {
  width: 90vw;
  max-width: 1100px;
  height: 300px;
  border: 2px solid #FBF8F4;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  display: none;
}
#invitacion-catalogo-desktop img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
#invitacion-catalogo-desktop .invitacion-catalogo-boton-desktop {
  position: absolute;
  right: 40px;
  bottom: 20px;
  height: 75px;
  width: 300px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.9));
}
#invitacion-catalogo-desktop .invitacion-catalogo-boton-desktop a {
  text-decoration: none;
  color: #2f2d2d;
  font-family: "Lexend Tera", sans-serif;
  font-size: 24px;
  font-weight: 800;
}
#invitacion-catalogo-desktop .invitacion-catalogo-boton-desktop:hover {
  background-color: #2f2d2d;
}
#invitacion-catalogo-desktop .invitacion-catalogo-boton-desktop:hover a {
  color: #FBF8F4;
}

#presentacion-marcas {
  margin-top: 20px;
  width: 90vw;
  border: 2px solid #FBF8F4;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 500px;
}
#presentacion-marcas .presentacion-marcas-container {
  height: 100%;
  width: 95%;
}
#presentacion-marcas .presentacion-marcas-container .presentacion-marcas-intro-text {
  font-family: "Lexend Tera", sans-serif;
  color: #FBF8F4;
  font-size: 14px;
}
#presentacion-marcas .presentacion-marcas-container .marcas-container {
  margin-top: 20px;
  width: 100%;
}
#presentacion-marcas .presentacion-marcas-container .marcas-container .marcas {
  margin-top: 10px;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#presentacion-marcas .presentacion-marcas-container .marcas-container .marcas .marcas-logo-container {
  height: 40%;
  width: 100%;
  color: #FBF8F4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Mulish", sans-serif;
  font-size: 30px;
}
#presentacion-marcas .presentacion-marcas-container .marcas-container .marcas .marcas-home-descripcion {
  font-family: "Lexend Tera", sans-serif;
  color: #FBF8F4;
  font-size: 16px;
  width: 100%;
  height: 30%;
  margin: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#presentacion-marcas .presentacion-marcas-container .marcas-container .marcas .marcas-boton-home-container {
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#presentacion-marcas .presentacion-marcas-container .marcas-container .marcas .marcas-boton-home-container .marcas-boton-link-home {
  height: 40px;
  width: 190px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.9));
}
#presentacion-marcas .presentacion-marcas-container .marcas-container .marcas .marcas-boton-home-container .marcas-boton-link-home a {
  text-decoration: none;
  font-family: "Lexend Tera", sans-serif;
  color: #2f2d2d;
  font-weight: 600;
}
#presentacion-marcas .presentacion-marcas-container .presentacion-marcas-button-container {
  margin-top: 40px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#presentacion-marcas .presentacion-marcas-container .presentacion-marcas-button-container .presentacion-marcas-button {
  height: 75px;
  width: 300px;
  background-color: #FBF8F4;
  border: none;
  border-radius: 5px;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.9));
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#presentacion-marcas .presentacion-marcas-container .presentacion-marcas-button-container .presentacion-marcas-button a {
  text-decoration: none;
  font-family: "Lexend Tera", sans-serif;
  font-weight: bold;
  color: #2f2d2d;
  font-size: 20px;
}

#presentacion-marcas-desktop {
  margin-top: 20px;
  border-radius: 10px;
  width: 90vw;
  max-width: 1100px;
  background-color: #FBF8F4;
  display: none;
}
#presentacion-marcas-desktop .presentacion-marcas-text-container-desktop {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#presentacion-marcas-desktop .presentacion-marcas-text-container-desktop p {
  color: #2f2d2d;
  font-family: "Lexend Tera", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
#presentacion-marcas-desktop .presentacion-marcas-subtext-container-desktop {
  width: 100%;
  padding: 10px;
}
#presentacion-marcas-desktop .presentacion-marcas-subtext-container-desktop h1 {
  color: #2f2d2d;
  font-family: "Lexend Tera", sans-serif;
  font-size: 24px;
  font-weight: 700;
}
#presentacion-marcas-desktop .presentacion-marcas-marcas-container-desktop {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 20px;
}
#presentacion-marcas-desktop .presentacion-marcas-marcas-container-desktop .marca-titulo-container-desktop {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#presentacion-marcas-desktop .presentacion-marcas-marcas-container-desktop .marca-titulo-container-desktop h1 {
  color: #2f2d2d;
  font-family: "Lexend Tera", sans-serif;
  font-size: 30px;
  font-weight: 800;
}
#presentacion-marcas-desktop .presentacion-marcas-marcas-container-desktop .marca-descripcion-container-desktop {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#presentacion-marcas-desktop .presentacion-marcas-marcas-container-desktop .marca-descripcion-container-desktop p {
  color: #2f2d2d;
  text-align: center;
  font-family: "Questrial", sans-serif;
  font-weight: 700;
}
#presentacion-marcas-desktop .presentacion-marcas-marcas-container-desktop .marca-boton-container-desktop {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#presentacion-marcas-desktop .presentacion-marcas-marcas-container-desktop .marca-boton-container-desktop button {
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 150px;
  cursor: pointer;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.9));
  background-color: #2f2d2d;
}
#presentacion-marcas-desktop .presentacion-marcas-marcas-container-desktop .marca-boton-container-desktop button a {
  text-decoration: none;
  color: #FBF8F4;
  font-family: "Lexend Tera", sans-serif;
  cursor: pointer;
}

#confian-en-nosotros {
  margin-top: 20px;
  height: 200px;
  width: 90vw;
  background-color: #FBF8F4;
  border-radius: 5px;
}

@media screen and (max-width: 1000px) {
  #call-to-action-desktop {
    display: none;
  }
}
@media screen and (min-width: 1000px) {
  #call-to-action {
    display: none;
  }
  #slider-obras {
    display: none;
  }
  #slider-obras-desktop {
    display: flex;
  }
  #descripcion-empresa {
    display: none;
  }
  #descripcion-empresa-desktop {
    display: inline;
  }
  #invitacion-catalogo {
    display: none;
  }
  #invitacion-catalogo-desktop {
    display: flex;
  }
  #presentacion-marcas {
    display: none;
  }
  #presentacion-marcas-desktop {
    display: inline;
  }
  #confian-en-nosotros {
    display: none;
  }
  #call-to-action-desktop {
    display: flex;
  }
}
#navbar {
  position: fixed;
  height: 60px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  background-color: #2f2d2d;
}
#navbar .navbar {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  max-width: 494px;
}
#navbar .navbar .logo {
  display: grid;
  place-items: center;
  align-content: center;
}

.mobile-nav {
  display: grid;
  place-items: center;
  align-content: center;
  position: fixed;
  top: -150%;
  width: 100%;
  min-height: 100vh;
  z-index: 98;
  background-color: #2f2d2d;
  transition: 1s;
}
.mobile-nav a {
  color: #FBF8F4;
}

.mobile-nav.is-active {
  top: 0;
  transition: 1s;
}

.burger {
  position: relative;
  display: block;
  cursor: pointer;
  border: none;
  background: none;
}

.burger .bar, .burger:after, .burger:before {
  content: "";
  display: block;
  width: 40px;
  height: 5px;
  background-color: #FBF8F4;
  margin: 6px 0px;
  border-radius: 10px;
  transition: 0.4s;
}

.burger.is-active:before {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.burger.is-active:after {
  transform: rotate(45deg) translate(-9px, -10px);
}

.burger.is-active .bar {
  opacity: 0;
}

.mobile-nav-links-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  height: 600px;
}
.mobile-nav-links-container .mobile-nav-link {
  font-family: "Lexend Tera", sans-serif;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  font-size: 35px;
}

@media screen and (max-width: 1000px) {
  .desktop-nav {
    display: none;
  }
  .logo-desktop {
    display: none;
  }
}
@media screen and (min-width: 1000px) {
  .navbar {
    min-width: 90vw;
  }
  #navbar .navbar .logo {
    display: none;
  }
  .mobile-nav {
    display: none;
  }
  .burger {
    display: none;
  }
  .desktop-nav {
    background-color: red;
  }
}
footer {
  height: 100px;
  width: 100%;
  background-color: #FBF8F4;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer h5 {
  color: #2f2d2d;
  font-family: "Mulish", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2f2d2d;
  overflow-x: hidden;
}

#page-container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#obras {
  max-width: 500px;
  margin-top: 60px;
  border-radius: 5px;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#obras .obras-titulo-container {
  width: 100%;
  height: 70px;
  padding-top: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
#obras .obras-titulo-container h1 {
  color: #FBF8F4;
  font-family: "Lexend Tera", sans-serif;
  font-size: 60px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#obras .obras-intro-container {
  width: 90vw;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 20px;
  max-width: 500px;
}
#obras .obras-intro-container p {
  color: #FBF8F4;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
}
#obras .obra-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
  margin-bottom: 20px;
}
#obras .obra-container .obra-titulo-container {
  border-radius: 5px 5px 0 0;
  background-color: #FBF8F4;
  width: 100%;
  height: 140px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#obras .obra-container .obra-titulo-container h1 {
  color: #2f2d2d;
  font-family: "Lexend Tera", sans-serif;
  font-weight: 800;
  font-size: 26px;
  margin: 0;
}
#obras .obra-container .obra-titulo-container h2 {
  color: #2f2d2d;
  font-family: "Lexend Tera", sans-serif;
  font-size: 16px;
  margin: 0;
}
#obras .obra-container .obra-imgslider-container {
  width: 100%;
  height: 200px;
  border-bottom: 2px solid #FBF8F4;
  border-left: 2px solid #FBF8F4;
  border-right: 2px solid #FBF8F4;
}
#obras .obra-container .obra-imgslider-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#obras .obra-container .obra-descripcion-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-left: 2px solid #FBF8F4;
  border-right: 2px solid #FBF8F4;
  border-bottom: 2px solid #FBF8F4;
  border-radius: 0 0 5px 5px;
}
#obras .obra-container .obra-descripcion-container .obra-descripcion-1 {
  padding: 5px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#obras .obra-container .obra-descripcion-container .obra-descripcion-1 p {
  color: #FBF8F4;
  font-family: "Mulish", sans-serif;
}
#obras .obra-container .obra-descripcion-container .obra-descripcion-2 {
  width: 100%;
  height: 100px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#obras .obra-container .obra-descripcion-container .obra-descripcion-2 p {
  color: #FBF8F4;
  font-family: "Lexend Tera", sans-serif;
  font-weight: 600;
  margin-bottom: 5px;
}

.productos-intro-container {
  margin-top: 60px;
  margin-bottom: 20px;
  width: 90vw;
  padding: 5px;
  padding: 5px;
  max-width: 500px;
}
.productos-intro-container p {
  color: #FBF8F4;
  font-family: "Mulish", sans-serif;
}

.productos-marcas-container {
  max-width: 500px;
  width: 90vw;
  background-color: #FBF8F4;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #FBF8F4;
  border-radius: 5px;
  margin-bottom: 20px;
}
.productos-marcas-container .productos-marcas-titulo-container {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.productos-marcas-container .productos-marcas-titulo-container h1 {
  color: #2f2d2d;
  font-family: "Lexend Tera", sans-serif;
  height: 80px;
  font-size: 40px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.productos-marcas-container .productos-marcas-titulo-container h2 {
  color: #2f2d2d;
  font-family: "Lexend Tera", sans-serif;
  font-size: 16px;
}
.productos-marcas-container .productos-marcas-slider-container {
  width: 100%;
  height: 300px;
  background-color: #2f2d2d;
  border-left: 2px solid #FBF8F4;
  border-right: 2px solid #FBF8F4;
  border-bottom: 2px solid #FBF8F4;
}
.productos-marcas-container .productos-marcas-slider-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.productos-marcas-container .productos-marcas-descripcion-container {
  width: 100%;
  height: 120px;
  background-color: #2f2d2d;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-left: 2px solid #FBF8F4;
  border-right: 2px solid #FBF8F4;
  border-radius: 0 0 5px 5px;
}
.productos-marcas-container .productos-marcas-descripcion-container p {
  color: #FBF8F4;
  font-family: "Mulish", sans-serif;
}

#productos-marcas-ultimo {
  margin-bottom: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2f2d2d;
  overflow-x: hidden;
}

.kaiken-producto-container {
  max-width: 500px;
  margin-top: 70px;
  width: 90%;
  border-radius: 5px;
}
.kaiken-producto-container .kaiken-producto-logo-container {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FBF8F4;
}
.kaiken-producto-container .kaiken-producto-logo-container .kaiken-producto-logo {
  color: #2f2d2d;
  font-family: "Lexend Tera", sans-serif;
  font-weight: 800;
  font-size: 60px;
}
.kaiken-producto-container .kaiken-producto-imgslider-container {
  width: 100%;
  height: 300px;
  border-left: 2px solid #FBF8F4;
  border-right: 2px solid #FBF8F4;
}
.kaiken-producto-container .kaiken-producto-text-container {
  width: 100%;
  background-color: #FBF8F4;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  border-radius: 0 0 5px 5px;
}
.kaiken-producto-container .kaiken-producto-text-container p {
  color: #2f2d2d;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}
.kaiken-producto-container .kaiken-producto-caracteristica {
  width: 100%;
  background-color: #FBF8F4;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  border-left: 2px solid #FBF8F4;
  border-radius: 5px;
}
.kaiken-producto-container .kaiken-producto-caracteristica .kaiken-producto-caracteristica-img-container {
  border-radius: 5px;
  background-color: #2f2d2d;
  width: 50%;
  height: 100%;
  border-top: 2px solid #FBF8F4;
  border-bottom: 2px solid #FBF8F4;
}
.kaiken-producto-container .kaiken-producto-caracteristica .kaiken-producto-caracteristica-text-container {
  width: 50%;
  height: 100%;
}
.kaiken-producto-container .kaiken-producto-caracteristica .kaiken-producto-caracteristica-text-container .kaiken-producto-caracteristica-titulo-container {
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
}
.kaiken-producto-container .kaiken-producto-caracteristica .kaiken-producto-caracteristica-text-container .kaiken-producto-caracteristica-titulo-container h2 {
  margin: 0;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
}
.kaiken-producto-container .kaiken-producto-caracteristica .kaiken-producto-caracteristica-text-container .kaiken-producto-caracteristica-contenido-container {
  height: 70%;
  width: 100%;
  display: flex;
  padding: 5px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.kaiken-producto-container .kaiken-producto-caracteristica .kaiken-producto-caracteristica-text-container .kaiken-producto-caracteristica-contenido-container p {
  font-family: "Mulish", sans-serif;
  color: #2f2d2d;
  font-weight: 500;
  font-family: 12px;
}
.kaiken-producto-container #ultimo-producto {
  margin-bottom: 0;
}
.kaiken-producto-container .kaiken-producto-boton-contacto-container {
  height: 160px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.kaiken-producto-container .kaiken-producto-boton-contacto-container button {
  height: 80px;
  width: 300px;
  border-radius: 5px;
  border: none;
  background-color: #FBF8F4;
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.9));
  cursor: pointer;
  font-family: "Lexend Tera", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.kaiken-producto-container .kaiken-producto-boton-contacto-container button a {
  text-decoration: none;
  color: #2f2d2d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2f2d2d;
  overflow-x: hidden;
}

#mapa-contacto {
  max-width: 500px;
  width: 90%;
  border-radius: 5px;
  height: 200px;
  width: 90%;
}

#form-contacto {
  width: 90%;
  max-width: 500px;
  margin-top: 60px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#form-contacto .form-container {
  width: 100%;
}
#form-contacto .form-container #form-titulo {
  margin-bottom: 10px;
}
#form-contacto .form-container #form-titulo .form-call-to-action {
  font-size: 16px;
  color: #FBF8F4;
  font-family: "Mulish", sans-serif;
}
#form-contacto .form-container form {
  display: flex;
  flex-direction: column;
  font-family: "Mulish", sans-serif;
}
#form-contacto .form-container form #time {
  display: none;
}
#form-contacto .form-container form .data-input {
  margin-bottom: 15px;
  margin-top: 3px;
}
#form-contacto .form-container form .form-nombre {
  font-weight: 200;
  font-size: 16px;
  font-weight: bold;
  color: #FBF8F4;
}
#form-contacto .form-container form .form-mail {
  font-weight: 200;
  font-size: 16px;
  font-weight: bold;
  color: #FBF8F4;
}
#form-contacto .form-container form .form-tel {
  font-weight: 200;
  font-size: 16px;
  font-weight: bold;
  color: #FBF8F4;
}
#form-contacto .form-container form .form-mensaje {
  font-weight: 200;
  font-size: 16px;
  font-weight: bold;
  color: #FBF8F4;
}
#form-contacto .form-container form .data-input {
  height: 35px;
  padding: 5px;
  border-radius: 5px;
  background-color: #FBF8F4;
  font-size: 20px;
}
#form-contacto .form-container form #input-mensaje {
  height: 100px;
}
#form-contacto .form-container form .form-btn-container {
  height: 50px;
  width: 100%;
  display: grid;
  place-items: center;
  align-content: center;
  cursor: pointer;
}
#form-contacto .form-container form .form-btn-container .form-btn {
  width: 140px;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-family: "Lexend Tera", sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
  cursor: pointer;
  box-shadow: 2px 2px 4px grey;
}

#datos-contacto {
  max-width: 500px;
  width: 100%;
  margin-top: 50px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#datos-contacto .datos-contacto {
  width: 100%;
  color: #FBF8F4;
  font-family: "Questrial", sans-serif;
}
#datos-contacto .datos-contacto .datos-fm {
  margin-bottom: 20px;
}
#datos-contacto .datos-contacto .datos-fm h1 {
  margin-bottom: 2px;
  font-size: 28px;
}
#datos-contacto .datos-contacto .datos-fm h5 {
  font-weight: 200;
  margin-bottom: 10px;
}
#datos-contacto .datos-contacto .datos-fm h3 {
  font-weight: 200;
}
#datos-contacto .datos-contacto .datos-jm h1 {
  margin-bottom: 2px;
  font-size: 28px;
}
#datos-contacto .datos-contacto .datos-jm h5 {
  font-weight: 200;
  margin-bottom: 10px;
}
#datos-contacto .datos-contacto .datos-jm h3 {
  font-weight: 200;
}
#datos-contacto .datos-contacto .mail-ventas {
  margin-top: 25px;
  font-size: 28px;
}/*# sourceMappingURL=styles.css.map */