//variables

//COLORS
// $color-1: #393737;
$color-1: #2f2d2d;
$color-2: #FBF8F4;
$color-3: white;
$color-4: #FEF2D4;
$color-5: #1F1E1E;

//FONTS
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend+Tera:wght@100;200;300;400;500;600;700;800;900&display=swap');
$font-1: 'Lexend Tera', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&display=swap');
$font-2: 'Mulish', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
$font-3: 'Questrial', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$font-4: 'Epilogue', sans-serif;

//PADDING

//OTHER

//STYLES

footer {    
    width: 100vw;    
    background-color: $color-1;
    position: absolute;
    bottom: 0;
    display: grid;
    border-top: 1px solid $color-2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .footer-container-desktop {
        height: 120px;
        width: 90vw;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .footer-logo-container-desktop {
            height: 100%;
            display: flex;
            padding-top: 20px;
            padding-bottom: 20px;
            align-items: center;
            justify-content: flex-start;
            opacity: .6;
        }
        .footer-mapa-desktop {
            height: 100%;
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-start;            
            a {
                color: $color-2;
                font-family: $font-2;
                opacity: .6;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    footer {
        .footer-container-desktop {
            .footer-logo-container-desktop {
                width: 100px;
            }
        }
    }
}