//variables

//COLORS
// $color-1: #393737;
$color-2: #2f2d2d;
$color-1: #FBF8F4;
$color-3: white;
$color-4: #FEF2D4;
$color-5: #1F1E1E;

//FONTS
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend+Tera:wght@100;200;300;400;500;600;700;800;900&display=swap');
$font-1: 'Lexend Tera', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&display=swap');
$font-2: 'Mulish', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
$font-3: 'Questrial', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$font-4: 'Epilogue', sans-serif;

//PADDING

//OTHER

//STYLES

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-2;
    overflow-x: hidden;
}

#page-container {    
    position: relative;    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 120px;
}

//MAIN CONTENT

#call-to-action {
    margin-top: 70px;
    // padding-top: 5px;
    // padding-bottom: 5px;
    // padding: 10px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid $color-2;
    border-radius: 20px;
    background-color: $color-2;
    max-width: 500px;
    transition: .3s;
    .logo-home-container {        
        width: 95%;
        margin-bottom: 20px;
    }
    .text-civiles-container {        
        width: 95%;        
        .text-home {
            font-family: $font-1;
            font-size: 16px;
            color: $color-1;
            margin-left: 0;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;                      
        }
    }
    .text-productos-container {        
        margin-top: 20px;
        width: 95%;
        .text-productos {
            font-family: $font-1;
            font-size: 16px;
            color: $color-1;
            margin-left: 0;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
        }
    }
    .home-button-container {        
        margin-top: 39px;
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: center;
        .button-home {
            margin-bottom: 30px;
            width: 300px;
            height: 63px;
            background-color: $color-1;
            border: none;
            border-radius: 5px;
            filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.9));
            a {
                text-decoration: none;
                font-family: $font-1;
                color: $color-2;
                font-size: 24px;
            }
        }
    }
    .slider-home-container {
        border-radius: 5px;
        width: 100%;
        display: grid;
        align-content: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
        .slider-home-img-container {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            height: 100%;
            width: 100%;
            border-radius: 5px;
            transition: all .2s ease-in;
                img {                        
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 20px;
                }
            }
        }
}
#call-to-action-desktop {
    width: 90vw;
    max-width: 1300px;
    height: 300px;
    background-color: $color-2;
    border-radius: 20px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    transition: .3s;    
    .call-to-action-desktop-logo-container {
        width: 100%;
        .desktop-logo-container {
            width: 100%;            
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 5px;
            svg {
                width: 800px;
            }
        }
        .desktop-text-container {
            margin-top: 20px;
            width: 100%;                      
            .text-productos-container-desktop {
                width: 100%;                            
                .text-productos-desktop {
                    font-family: $font-1;
                    color: $color-1;
                    font-size: 32px;
                    font-weight: 900;
                }
            }
        }
        
    }    
}
#slider-obras {
    margin-top: 20px;
    height: 320px;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $color-2;
    border-radius: 20px;
    max-width: 500px;
    transition: .3s;
    .slider-obras-container {        
        width: 100%;
        height: 100%;
        position: relative;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }
        .slider-obras-button-container {            
            height: 100px;
            width: 100%;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            bottom: 0;
            .slider-obras-button {
                height: 50px;
                width: 300px;
                background-color: $color-2;
                border: none;
                border-radius: 5px;
                filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.9));
                a {
                    text-decoration: none;
                    font-family: $font-1;
                    font-weight: bold;
                    color: $color-1;
                    font-size: 20px;
                }
            }
        }
    }
}
#descripcion-empresa {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 589px;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $color-2;
    border-radius: 20px;
    max-width: 500px;
    background-color: $color-1;
    transition: .3s;
    .descripcion-empresa-container {        
        width: 95%;
        height: 100%;
        .descripcion-empresa-text {            
            color: $color-2;
            font-family: $font-1;
            font-size: 20px;
        }
        .descripcion-empresa-mkt {            
            margin-top: 20px;
            color: $color-2;
            font-family: $font-1;
            font-size: 25px;
            font-weight: bold;
        }
        .descripcion-empresa-button-container {            
            height: 120px;
            display: flex;
            align-items: center;
            justify-content: center;            
            .descripcion-empresa-button {                
                height: 50px;
                width: 300px;
                background-color: $color-2;
                border: none;
                border-radius: 5px;
                filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.9));
                a {
                    text-decoration: none;
                    font-family: $font-1;
                    font-weight: bold;
                    color: $color-1;
                    font-size: 20px;
                }
            }
        }
    }
}
#descripcion-empresa-desktop {
    width: 90vw;
    max-width: 1300px;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    display: none;
    background-color: $color-2;
    border-radius: 4px solid $color-1;
    border: 4px solid $color-1;
    overflow: hidden;
    transition: .3s;    
    .descripcion-empresa-text-container-desktop-titulo {
        width: 100%;        
        display: flex;
        height: 75px;
        align-items: center;
        justify-content: flex-start;
        padding-left: 20px;        
        background-color: $color-1;
        border: 4px solid $color-1;
        // border-radius: 20px 20px 0 0;        
        h1 {
            color: $color-2;
            font-family: $font-1;
            font-size: 30px;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
    .descripcion-empresa-text-container-desktop-descripcion {
        padding-left: 20px;
        background-color: $color-2;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        p {
            color: $color-1;
            font-family: $font-1;
            font-size: 20px;
        }
    }
    .descripcion-empresa-text-container-desktop-slogan {
        padding-left: 20px;
        height: 160px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        h1 {
            font-family: $font-1;
            color: $color-1;
            text-transform: uppercase;
            font-size: 40px;
        }
    }
}
.marcas-home-desktop {
    width: 90vw;
    max-width: 1300px;
    margin-bottom: 20px;
    background-color: $color-1;
    border-radius: 20px;    
    position: relative;
    .marcas-home-desktop-img {
        width: 220px;        
        border-radius: 12px;
        position: absolute;
        right: 20px;
        top: 0;
        bottom: 0;
        margin: auto 0;
    }
    .marcas-home-desktop-titulo {
        width: 100%;
        height: 100px;
        border-bottom: 3px solid $color-2;
        display: flex;
        .marcas-home-desktop-logo-container {
            padding-left: 20px;
            height: 100%;
            width: 200px;            
            display: flex;
            align-items: center;
            justify-content: justify-content;
            .marcas-home-desktop-logo {
                width: 100%;
                border-radius: 10px;
            }
        }
        .marcas-home-desktop-titulo-text {            
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-left: 10px;
            h1 {
                font-size: 28px;
                font-family: $font-1;
                text-transform: uppercase;
                color: $color-2;
            }
        }             
    }
    .marcas-home-desktop-descripcion-container {        
        width: 74%;
        display: flex;
        align-items: center;
        justify-content: flex-start;        
        height: 150px;
        padding: 20px;
        p {
            color: $color-2;
            font-family: $font-2;
            font-size: 20px;
            text-transform: none;
        }
    }
    .marcas-home-desktop-button-container {
        width: 100%;
        padding-left: 20px;
        padding-bottom: 29px;        
        button {
            height: 80px;
            width: 400px;
            background-color: $color-2;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.7));
            h1 {
                color: $color-1;
                font-family: $font-1;
                text-transform: uppercase;
            }
        }
    }
    
}
#home-desktop-slogans {
    width: 90vw;
    max-width: 1300px;
    height: 500px;    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 40px;    
    .home-desktop-envios {
        font-size: 40px;
        color: $color-1;
        font-family: $font-1;
        text-transform: uppercase;
    }
    .home-desktop-precios {
        font-size: 40px;
        color: $color-1;
        font-family: $font-1;
        text-transform: uppercase;
    }
    .home-desktop-constructores {
        font-size: 50px;
        color: $color-1;
        font-family: $font-1;
        text-transform: uppercase;
    }

}
#home-desktop-obras {
    width: 90vw;
    max-width: 1300px;    
    border: 4px solid $color-1;
    border-radius: 20px;
    padding: 20px;
    .home-desktop-obras-descripcion {
        margin-bottom: 40px;        
        h1 {
            font-family: $font-1;
            color: $color-1;
            font-size: 24px;
            text-transform: none;
            font-weight: 400;
        }
    }
    .home-desktop-obras-call-to {
        display: flex;
        .home-desktop-obras-call-to-text {            
            height: 200px;
            display: flex;
            align-items: center;
            justify-items: flex-start;
            width: 70%;
            h1 {
                font-family: $font-1;
                color: $color-1;
                text-transform: uppercase;
                font-size: 40px;
                font-weight: bold;

            }
        }
        .home-desktop-obras-call-to-button {            
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30%;
            a {
                width: 100%;
                button {
                    cursor: pointer;
                    width: 100%;
                    height: 80px;
                    border: none;
                    border-radius: 10px;
                    filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.7));
                    h1 {
                        font-family: $font-1;
                        text-transform: uppercase;
                        color: $color-2;
                        font-weight: bold;
                        font-size: 30px;
                    }
                }
            }
        }
    }
}
#invitacion-catalogo {
    margin-top: 20px;
    height: 320px;
    width: 90vw;
    border: 2px solid $color-2;
    border-radius: 20px;
    max-width: 500px;
    transition: .3s;
    .invitacion-catalogo-container {        
        width: 100%;
        height: 100%;
        position: relative;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }
        .invitacion-catalogo-button-container {            
            height: 100px;
            width: 100%;
            position: absolute;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            .invitacion-catalogo-button {
                height: 50px;
                width: 300px;
                background-color: $color-2;
                border: none;
                border-radius: 5px;
                filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.9));
                a {
                    text-decoration: none;
                    font-family: $font-1;
                    font-weight: bold;
                    color: $color-1;
                    font-size: 16px;
                }
            }
        }
    }
}
#presentacion-marcas {
    margin-top: 20px;    
    width: 90vw;
    border: 2px solid $color-2;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    background-color: $color-1;
    transition: .3s;
    .presentacion-marcas-container {        
        height: 100%;
        width: 95%;
        .presentacion-marcas-intro-text {
            font-family: $font-1;
            color: $color-2;
            font-size: 14px;            
        }
        .marcas-container {            
            margin-top: 20px;
            width: 100%;            
            .marcas {
                margin-top: 10px;
                width: 100%;
                height: 200px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                .marcas-logo-container {
                    height: 40%;
                    width: 100%;                    
                    color: $color-2;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: $font-2;
                    font-size: 30px;
                }
                .marcas-home-descripcion {
                    font-family: $font-1;
                    color: $color-2;
                    font-size: 16px;
                    width: 100%;
                    height: 30%;
                    margin: 0;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .marcas-boton-home-container {
                    height: 30%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .marcas-boton-link-home {
                        height: 40px;
                        width: 190px;
                        border-radius: 5px;
                        border: none;
                        cursor: pointer;
                        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.9));
                        a {
                            text-decoration: none;
                            font-family: $font-1;
                            color: $color-1;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
        .presentacion-marcas-button-container {
            margin-top: 40px;
            margin-bottom: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            .presentacion-marcas-button {
                height: 75px;
                width: 300px;
                background-color: $color-2;
                border: none;
                border-radius: 5px;
                filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.9));
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                a {
                    text-decoration: none;
                    font-family: $font-1;
                    font-weight: bold;
                    color: $color-1;
                    font-size: 20px;                    
                }
            }
        }
    }
}
#form-contacto-home {
    margin-top: 20px;
    width: 90vw;
    max-width: 1300px;
    border-radius: 20px;
    height: 514px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    transition: .3s;    
    .form-home-container {        
        width: 50%;
        border-radius: 10px 0 0 10px;
        padding: 20px;
        #form-inmar-home {
            h4 {
                font-family: $font-3;
                color: $color-1;
                font-size: 18px;
                margin-bottom: 4px;                
            }
            input {
                width: 100%;
                height: 30px;
                margin-bottom: 14px;
                border: 2px solid $color-1;
                border-radius: 5px;
                padding: 5px;
                font-family: $font-2;
                font-size: 20px;
                font-weight: 600;
            }
            textarea {
                width: 100%;
                height: 100px;
                border: 2px solid $color-1;
                border-radius: 5px;
                padding: 5px;
                resize: none;
                font-family: $font-2;
                font-size: 20px;
                font-weight: 600;
            }
            .form-btn-container {
                height: 150px;                
                display: flex;
                align-items: center;
                justify-content: center;
                .form-btn {
                    height: 75px;
                    width: 300px;
                    border: none;
                    border-radius: 10px;
                    background-color: $color-1;
                    cursor: pointer;
                    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.9));                    
                    color: $color-2;
                    font-family: $font-1;
                    font-size: 24px;
                    font-weight: 800;
                    transition: .3s;
                }
                .form-btn:hover {
                    background-color: #393737;
                    color: $color-2;
                }
                .form-btn:active {
                    transform: translateY(2px);
                    filter: drop-shadow(4px 4px 4px rgba(206, 206, 206, 0.9)); 
                }
            }
        }
    }
    .datos-contacto-desktop {        
        height: 100%;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 60px;
        .datos-desktop {
            width: 100%;
            color: $color-1;
            font-family: $font-1;
            height: 120px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            h5 {
                margin-bottom: 10px;
            }
        }
    }
}
.form-contacto-titulo-desktop {
    width: 90vw;    
    height: 100px;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    h4 {
        color: $color-1;
        font-family: $font-1;
        font-size: 32px;
        text-align: center;
    }
}
#confian-en-nosotros {
    margin-top: 20px;
    height: 200px;
    width: 90vw;
    background-color: $color-2;
    border-radius: 20px;
}

@media screen and (max-width: 800px) {
    #call-to-action-desktop {
        display: none;
    }
    #form-contacto-home {
        display: none;
    }
    .form-contacto-titulo-desktop {
        display: none;
    }
}

@media screen and (min-width: 800px) {
    #call-to-action {
        display: none;
    }
    #slider-obras {
        display: none;
    }
    #slider-obras-desktop {
        display: flex;
        margin-top: 40px;
    }
    #descripcion-empresa {
        display: none;
    }
    #descripcion-empresa-desktop {
        display: inline;
        margin-top: 40px;
    }
    #invitacion-catalogo {
        display: none;
    }
    #invitacion-catalogo-desktop {
        display: flex;
        margin-top: 40px;
    }
    #presentacion-marcas {
        display: none;
    }
    #presentacion-marcas-desktop {
        display: inline;
        margin-top: 40px;
    }
    #confian-en-nosotros {
        display: none;
    }
    #call-to-action-desktop {
        display: flex;
        margin-top: 120px;
    }
    #form-contacto-mobile-home {
        display: none;
    }
    #form-contacto-mobile-obras {
        display: none;
    }
    #form-contacto-mobile-productos {
        display: none;
    }
}