//variables

//COLORS
// $color-1: #393737;
$color-1: #2f2d2d;
$color-2: #FBF8F4;
$color-3: white;
$color-4: #FEF2D4;
$color-5: #1F1E1E;

//FONTS
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend+Tera:wght@100;200;300;400;500;600;700;800;900&display=swap');
$font-1: 'Lexend Tera', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&display=swap');
$font-2: 'Mulish', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
$font-3: 'Questrial', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$font-4: 'Epilogue', sans-serif;

//PADDING

//OTHER

//STYLES

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-5;
    overflow-x: hidden;
}

#page-container {    
    position: relative;    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 120px;
}

//MAIN CONTENT

#call-to-action {
    margin-top: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding: 10px;
    // height: 718px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid $color-2;
    border-radius: 20px;
    background-color: $color-2;
    max-width: 500px;
    .logo-home-container {        
        width: 95%;
        margin-bottom: 20px;
    }
    .text-civiles-container {        
        width: 95%;        
        .text-home {
            font-family: $font-1;
            font-size: 16px;
            color: $color-1;
            margin-left: 0;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;                      
        }
    }
    .text-productos-container {        
        margin-top: 20px;
        width: 95%;
        .text-productos {
            font-family: $font-1;
            font-size: 16px;
            color: $color-1;
            margin-left: 0;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
        }
    }
    .home-button-container {        
        margin-top: 39px;
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: center;
        .button-home {
            margin-bottom: 30px;
            width: 300px;
            height: 63px;
            background-color: $color-1;
            border: none;
            border-radius: 5px;
            filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.9));
            a {
                text-decoration: none;
                font-family: $font-1;
                color: $color-2;
                font-size: 24px;
            }
        }
    }
    .slider-home-container {
        border-radius: 5px;
        width: 95%;
        display: grid;
        align-content: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
        .slider-home-img-container {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            height: 100%;
            width: 100%;
            border-radius: 5px;
            transition: all .2s ease-in;
                img {                        
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 20px;
                }
            }
        }
}
#call-to-action-desktop {
    width: 90vw;
    max-width: 1100px;
    height: 400px;
    border: 2px solid $color-2;
    background-color: $color-2;
    border-radius: 20px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    .call-to-action-desktop-logo-container {
        width: 60%;
        height: 100%;
        .desktop-logo-container {
            width: 100%;
            height: 50%;            
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 5px;
            svg {
                width: 90%;
            }
        }
        .desktop-text-container {
            width: 100%;
            height: 50%;
            .text-civiles-container-desktop {
                width: 100%;
                height: 50%;
                .text-home-desktop {
                    font-family: $font-1;
                    color: $color-1;
                    font-size: 30px;
                }
            }
            .text-productos-container-desktop {
                width: 100%;
                height: 50%;                
                .text-productos-desktop {
                    font-family: $font-1;
                    color: $color-1;
                    font-size: 24px;
                }
            }
        }
        
    }
    .call-to-action-desktop-slider-container {
        width: 40%;
        height: 100%;
        border-radius: 0 10px 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        .desktop-slider-container {
            height: 90%;
            width: 90%;
            color: $color-1;
            border-radius: 10px;
            border: solid;
        }        
    }
}

#slider-obras {
    margin-top: 20px;
    height: 320px;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $color-2;
    border-radius: 20px;
    max-width: 500px;
    .slider-obras-container {        
        width: 100%;
        height: 100%;
        position: relative;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }
        .slider-obras-button-container {            
            height: 100px;
            width: 100%;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            bottom: 0;
            .slider-obras-button {
                height: 50px;
                width: 300px;
                background-color: $color-2;
                border: none;
                border-radius: 5px;
                filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.9));
                a {
                    text-decoration: none;
                    font-family: $font-1;
                    font-weight: bold;
                    color: $color-1;
                    font-size: 20px;
                }
            }
        }
    }
}
#slider-obras-desktop {
    width: 90vw;
    max-width: 1100px;
    height: 300px;
    border: 2px solid $color-2;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    display: none;
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .boton-obras-desktop {
        position: absolute;
        right: 40px;
        bottom: 20px;
        height: 75px;
        width: 300px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.9));        
        a {
            text-decoration: none;
            color: $color-1;
            font-family: $font-1;
            font-size: 24px;
            font-weight: 800;
        }
    }
    .boton-obras-desktop:hover {
        background-color: $color-1;        
        a {
            color: $color-2;
        }
    }
}

#descripcion-empresa {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 589px;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $color-2;
    border-radius: 20px;
    max-width: 500px;
    background-color: $color-1;
    .descripcion-empresa-container {        
        width: 95%;
        height: 100%;
        .descripcion-empresa-text {            
            color: $color-2;
            font-family: $font-1;
            font-size: 20px;
        }
        .descripcion-empresa-mkt {            
            margin-top: 20px;
            color: $color-2;
            font-family: $font-1;
            font-size: 25px;
            font-weight: bold;
        }
        .descripcion-empresa-button-container {            
            height: 120px;
            display: flex;
            align-items: center;
            justify-content: center;            
            .descripcion-empresa-button {                
                height: 50px;
                width: 300px;
                background-color: $color-2;
                border: none;
                border-radius: 5px;
                filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.9));
                a {
                    text-decoration: none;
                    font-family: $font-1;
                    font-weight: bold;
                    color: $color-1;
                    font-size: 20px;
                }
            }
        }
    }
}
#descripcion-empresa-desktop {
    width: 90vw;
    max-width: 1100px;    
    // border: 2px solid $color-2;
    border-radius: 20px;
    margin-top: 20px;
    position: relative;
    display: none;
    background-color: $color-1;
    button {
        position: absolute;
        right: 40px;
        bottom: 20px;
        height: 75px;
        width: 300px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.9));        
        a {
            text-decoration: none;
            color: $color-1;
            font-family: $font-1;
            font-size: 24px;
            font-weight: 800;
        }
    }
    .descripcion-empresa-text-container-desktop {
        width: 100%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        p {
            color: $color-2;
            font-family: $font-1;
            font-size: 20px;
        }
    }
    .descripcion-empresa-text-button-container-desktop {
        padding: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;            
    }
    .descripcion-empresa-text-button-container-desktop {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .descripcion-empresa-text {
            width: 70%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            h1 {
                color: $color-2;
                font-family: $font-1;            
                font-size: 30px;    
            }
        }
    }
}
#invitacion-catalogo {
    margin-top: 20px;
    height: 320px;
    width: 90vw;
    border: 2px solid $color-2;
    border-radius: 20px;
    max-width: 500px;
    .invitacion-catalogo-container {        
        width: 100%;
        height: 100%;
        position: relative;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }
        .invitacion-catalogo-button-container {            
            height: 100px;
            width: 100%;
            position: absolute;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            .invitacion-catalogo-button {
                height: 50px;
                width: 300px;
                background-color: $color-2;
                border: none;
                border-radius: 5px;
                filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.9));
                a {
                    text-decoration: none;
                    font-family: $font-1;
                    font-weight: bold;
                    color: $color-1;
                    font-size: 16px;
                }
            }
        }
    }
}
#invitacion-catalogo-desktop {
    width: 90vw;
    max-width: 1100px;
    height: 300px;
    border: 2px solid $color-2;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    display: none;
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .invitacion-catalogo-boton-desktop {
        position: absolute;
        right: 40px;
        bottom: 20px;
        height: 75px;
        width: 300px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.9));        
        a {
            text-decoration: none;
            color: $color-1;
            font-family: $font-1;
            font-size: 24px;
            font-weight: 800;
        }
    }
    .invitacion-catalogo-boton-desktop:hover {
        background-color: $color-1;        
        a {
            color: $color-2;
        }
    }
}
#presentacion-marcas {
    margin-top: 20px;    
    width: 90vw;
    border: 2px solid $color-2;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    .presentacion-marcas-container {        
        height: 100%;
        width: 95%;
        .presentacion-marcas-intro-text {
            font-family: $font-1;
            color: $color-2;
            font-size: 14px;            
        }
        .marcas-container {            
            margin-top: 20px;
            width: 100%;            
            .marcas {
                margin-top: 10px;
                width: 100%;
                height: 200px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                .marcas-logo-container {
                    height: 40%;
                    width: 100%;                    
                    color: $color-2;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: $font-2;
                    font-size: 30px;
                }
                .marcas-home-descripcion {
                    font-family: $font-1;
                    color: $color-2;
                    font-size: 16px;
                    width: 100%;
                    height: 30%;
                    margin: 0;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .marcas-boton-home-container {
                    height: 30%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .marcas-boton-link-home {
                        height: 40px;
                        width: 190px;
                        border-radius: 5px;
                        border: none;
                        cursor: pointer;
                        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.9));
                        a {
                            text-decoration: none;
                            font-family: $font-1;
                            color: $color-1;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
        .presentacion-marcas-button-container {
            margin-top: 40px;
            margin-bottom: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            .presentacion-marcas-button {
                height: 75px;
                width: 300px;
                background-color: $color-2;
                border: none;
                border-radius: 5px;
                filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.9));
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                a {
                    text-decoration: none;
                    font-family: $font-1;
                    font-weight: bold;
                    color: $color-1;
                    font-size: 20px;                    
                }
            }
        }
    }
}
#presentacion-marcas-desktop {
    margin-top: 20px;
    border-radius: 20px;
    width: 90vw;
    max-width: 1100px;
    background-color: $color-2;
    display: none;
    .presentacion-marcas-text-container-desktop {
        width: 100%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        p {
            color: $color-1;
            font-family: $font-1;
            font-size: 20px;
            font-weight: 600;
        }
    }
    .presentacion-marcas-subtext-container-desktop {
        width: 100%;
        padding: 10px;
        h1 {
            color: $color-1;
            font-family: $font-1;
            font-size: 24px;
            font-weight: 700;
        }        
    }   
    .presentacion-marcas-marcas-container-desktop {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 20px;
        .marca-titulo-container-desktop {
            width: 100%;            
            height: 75px;
            display: flex;
            align-items: center;
            justify-content: center;
            h1 {
                color: $color-1;
                font-family: $font-1;
                font-size: 30px;
                font-weight: 800;
            }
        }
        .marca-descripcion-container-desktop {            
            height: 60px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            p {
                color: $color-1;
                text-align: center;
                font-family: $font-3;
                font-weight: 700;
            }
        }
        .marca-boton-container-desktop {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            button {
                border: none;
                border-radius: 5px;
                height: 40px;
                width: 150px;
                cursor: pointer;
                filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.9));
                background-color: $color-1;
                a {
                    text-decoration: none;
                    color: $color-2;
                    font-family: $font-1;
                    cursor: pointer;
                }
            }
        }
    }
}
#form-contacto-home {
    width: 90vw;
    max-width: 1100px;    
    border-radius: 20px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-2;
    .form-home-container {
        width: 50%;
        border-radius: 10px 0 0 10px;
        padding: 20px;
        #form-inmar-home {
            h4 {
                font-family: $font-3;
                color: $color-1;
                font-size: 18px;
                margin-bottom: 2px;
            }
            input {
                width: 100%;
                height: 30px;
                margin-bottom: 14px;
                border: 2px solid $color-1;
                border-radius: 5px;
                padding: 5px;
            }
            textarea {
                width: 100%;
                height: 100px;
                border: 2px solid $color-1;
                border-radius: 5px;
                padding: 5px;
            }
            .form-btn-container {
                height: 150px;                
                display: flex;
                align-items: center;
                justify-content: center;
                .form-btn {
                    height: 75px;
                    width: 300px;
                    border: none;
                    border-radius: 10px;
                    background-color: $color-1;
                    cursor: pointer;
                    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.9));                    
                    color: $color-2;
                    font-family: $font-1;
                    font-size: 24px;
                    font-weight: 800;
                }
            }
        }
    }
    .contacto-home-container {
        width: 50%;
        .datos-contacto-home-container {
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding: 10px;
        }
    }
}
#confian-en-nosotros {
    margin-top: 20px;
    height: 200px;
    width: 90vw;
    background-color: $color-2;
    border-radius: 20px;
}

@media screen and (max-width: 1000px) {
    #call-to-action-desktop {
        display: none;
    }
    #form-contacto-home {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    #call-to-action {
        display: none;
    }
    #slider-obras {
        display: none;
    }
    #slider-obras-desktop {
        display: flex;
        margin-top: 40px;
    }
    #descripcion-empresa {
        display: none;
    }
    #descripcion-empresa-desktop {
        display: inline;
        margin-top: 40px;
    }
    #invitacion-catalogo {
        display: none;
    }
    #invitacion-catalogo-desktop {
        display: flex;
        margin-top: 40px;
    }
    #presentacion-marcas {
        display: none;
    }
    #presentacion-marcas-desktop {
        display: inline;
        margin-top: 40px;
    }
    #confian-en-nosotros {
        display: none;
    }
    #call-to-action-desktop {
        display: flex;
        margin-top: 120px;
    }
}