//variables

//COLORS
// $color-1: #393737;
$color-1: #2f2d2d;
$color-2: #FBF8F4;
$color-3: white;
$color-4: #FEF2D4;

//FONTS
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend+Tera:wght@100;200;300;400;500;600;700;800;900&display=swap');
$font-1: 'Lexend Tera', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&display=swap');
$font-2: 'Mulish', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
$font-3: 'Questrial', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$font-4: 'Epilogue', sans-serif;

//PADDING

//OTHER

//STYLES

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-1;
    overflow-x: hidden;
}

#page-container {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

#obras {
    margin-top: 60px;    
    border-radius: 5px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .obras-titulo-container {
        width: 100%;
        height: 70px;        
        padding-top: 0;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        h1 {
            color: $color-2;
            font-family: $font-1;
            font-size: 60px;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .obras-intro-container {
        width: 90vw;        
        border-radius: 5px;
        padding: 5px;
        margin-bottom: 20px;
        p {
            color: $color-2;
            font-family: $font-2;
            font-size: 16px;
        }
    }
    .obra-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        border-radius: 5px;
        margin-bottom: 20px;
        .obra-titulo-container {
            border-radius: 5px 5px 0 0;
            background-color: $color-2;
            width: 100%;
            height: 140px;
            padding: 5px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            h1 {
                color: $color-1;
                font-family: $font-1;
                font-weight: 800;
                font-size: 26px;
                margin: 0;
            }
            h2 {
                color: $color-1;
                font-family: $font-1;
                font-size: 16px;
                margin: 0;
            }
        }
        .obra-imgslider-container {
            width: 100%;
            height: 200px;
            border-bottom: 2px solid $color-2;
            border-left: 2px solid $color-2;
            border-right: 2px solid $color-2;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .obra-descripcion-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            border-left: 2px solid $color-2;
            border-right: 2px solid $color-2;
            border-bottom: 2px solid $color-2;
            border-radius: 0 0 5px 5px;
            .obra-descripcion-1 {
                padding: 5px;
                height: 100px;                
                display: flex;
                align-items: center;
                justify-content: center;
                p {
                    color: $color-2;
                    font-family: $font-2;                    
                }
            }
            .obra-descripcion-2 {
                width: 100%;
                height: 100px;
                padding: 5px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                p {
                    color: $color-2;
                    font-family: $font-1;
                    font-weight: 600;
                    margin-bottom: 5px;
                }
            }
        }
    }
}

